$text-primary: #232323;
$text-secondary: #ffffff;
$text-tertiary: #9377e2;
$bg-color: #f8f5ff;
$primary-color: #9377e2;

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  color: $text-primary;
}
.vertical-flex {
  display: flex;
  flex-direction: column;
}
button {
  font-family: 'Poppins', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;

  a {
    color: $text-primary;
    font-size: 16px;
    font-weight: 700;
  }

  .nav-btn {
    margin-left: 20px;
    background-color: $primary-color;
    color: $text-secondary;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
  }
}

.item-con {
  margin: 0 60px;
  padding: 20px 30px;
  background-color: $bg-color;
  border-radius: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 4fr 5fr 2fr;
  a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    line-height: 1.4;
  }

  h1 {
    font-size: 36px;
    margin: 5px 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
}
.btn {
  background-color: $primary-color;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
.btn-text {
  font-size: 15px;
}
.price {
  font-weight: 700;
  margin: 5px 0;
  color: $text-tertiary;
  span {
    color: $text-primary;
  }
}
.flex-con {
  display: flex;
}
.amount-con {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: $text-secondary;
  box-shadow: 2px 4px 16px -3px rgba($color: #000000, $alpha: 0.12);
  button {
    font-size: 24px;
    font-weight: 700;
    border: none;
    background-color: $text-secondary;
    padding: 0 20px;
    margin: 10px 0;
    cursor: pointer;
  }
  .btn-minus {
    border-right: 1px solid $text-primary;
    margin-right: 15px;
  }
  .btn-plus {
    border-left: 1px solid $text-primary;
    margin-left: 15px;
  }
}

.product-con {
  background-image: url('../styles/res/blue-spiral.png');
  background-color: #9377e2;
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.product-image {
  height: 350px;
  width: 350px;
  object-fit: contain;
}
.other-product {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

.bg1 {
  background-image: url('../styles/res/purple-spiral.png');
  background-color: #9377e2;
}
.bg2 {
  background-image: url('../styles/res/pink-spiral.png');
  background-color: #9377e2;
}
.bg3 {
  background-image: url('../styles/res/yellow-spiral.png');
  background-color: #9377e2;
}
a {
  text-decoration: none;
}
.catalog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  padding: 10px 60px;
}
.catalog-item {
  width: 300px;
  border: 1px solid $text-primary;
  padding-bottom: 10px;
  cursor: pointer;
  h3 {
    padding-left: 20px;
    margin: 5px 0;
    color: $text-tertiary;
    text-decoration: none;
  }
  p {
    padding-left: 20px;
    margin: 5px 0;
    color: $text-primary;
    text-decoration: none;
  }
}

.catalog-item-img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-bottom: 1px solid $text-primary;
}
.cart-con {
  display: grid;
  grid-template-columns: 7fr 3fr;
  height: 100vh;
}
.cart-items {
  padding: 30px 60px;
  overflow-y: auto;
  h2 {
    margin: 10px 0 35px 0;
  }
}
.cart-summary {
  background-color: $bg-color;
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-summary-desc {
  p:nth-child(1) {
    font-weight: bold;
  }
  p {
    margin: 0 2px;
  }
}
.cart-item {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 1fr;
  margin: 0 0 20px 0;
  align-items: center;
}

.cart-item-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.cart-amount-con {
  display: flex;
  align-items: center;
  margin: 0 60px;
  input {
    margin: 0 20px;
  }
  p {
    font-weight: 700;
  }
}
.cart-desc-con {
  padding: 0 30px;
  h3 {
    font-family: 'Nunito', sans-serif;
    margin: 5px;
    font-weight: 700;
  }
  p {
    margin: 5px;
    font-weight: 700;
  }
}

.cart-summary-items {
  h3 {
    font-size: 24px;
  }
}

.admin-dashboard {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}
.admin-sidebar {
  background-color: $bg-color;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  h3 {
    margin: 10px 10px 20px 10px;
  }
  a {
    margin: 10px;
    color: $text-primary;
    &:hover {
      color: $text-tertiary;
    }
  }
}

.add-item-view {
  padding: 30px 60px;
  overflow-y: auto;
  width: 75%;

  form {
    display: grid;
  }
  input {
    margin-bottom: 20px;
    width: 80%;
    padding: 5px 20px;
    font-size: 18px;
    &:focus {
      outline: 2px solid $primary-color;
    }
  }
  textarea {
    margin-bottom: 20px;
    width: 80%;
    padding: 5px 20px;
    font-size: 18px;

    &:focus {
      outline: 2px solid $primary-color;
    }
  }
}

.user-list-page {
  width: 85%;
  padding: 0 2% 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    align-self: center;
    color: #9377e2;
  }
}
.user-list-heading {
  text-align: center;
}
.usersList {
  padding: 0 20px 0 20px;
  margin-bottom: 10px;
}
.usernames {
  display: flex;
  width: fit-content;
  align-items: center;

  a {
    color: #9377e2;
  }
}
.username {
  width: 15em;
  font-weight: bold;
}
.user-email {
  width: 20em;
}
.user-line {
  background-color: black;
  border: 1px solid black;
  width: 80%;
}

.edit-user {
  margin-left: 10px;
  width: 75%;
  overflow-y: auto;
}

.edit-user > h1 {
  text-align: center;
}

.edit-user-form > select {
  width: 50%;
  font-size: 18px;
  padding: 5px 10px 5px 20px;
  margin-bottom: 30px;
}

.edit-user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.edit-user-input {
  background-color: white;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  width: 25%;
}

.order-items {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 1fr;
  justify-content: center;
  align-items: center;

  a {
    color: #9377e2;
  }
}

.order-status {
  color: rgb(63, 55, 55);
}
