body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #232323;
}

.vertical-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  font-family: "Poppins", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 60px;
}

nav a {
  color: #232323;
  font-size: 16px;
  font-weight: 700;
}

nav .nav-btn {
  margin-left: 20px;
  background-color: #9377e2;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.item-con {
  margin: 0 60px;
  padding: 20px 30px;
  background-color: #f8f5ff;
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 4fr 5fr 2fr;
      grid-template-columns: 4fr 5fr 2fr;
}

.item-con a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.item-con p {
  font-size: 16px;
  line-height: 1.4;
}

.item-con h1 {
  font-size: 36px;
  margin: 5px 0;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.btn {
  background-color: #9377e2;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.btn-text {
  font-size: 15px;
}

.price {
  font-weight: 700;
  margin: 5px 0;
  color: #9377e2;
}

.price span {
  color: #232323;
}

.flex-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.amount-con {
  font-size: 24px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 16px -3px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 16px -3px rgba(0, 0, 0, 0.12);
}

.amount-con button {
  font-size: 24px;
  font-weight: 700;
  border: none;
  background-color: #ffffff;
  padding: 0 20px;
  margin: 10px 0;
  cursor: pointer;
}

.amount-con .btn-minus {
  border-right: 1px solid #232323;
  margin-right: 15px;
}

.amount-con .btn-plus {
  border-left: 1px solid #232323;
  margin-left: 15px;
}

.product-con {
  background-image: url("../styles/res/blue-spiral.png");
  background-color: #9377e2;
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.other-product {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

.bg1 {
  background-image: url("../styles/res/purple-spiral.png");
  background-color: #9377e2;
}

.bg2 {
  background-image: url("../styles/res/pink-spiral.png");
  background-color: #9377e2;
}

.bg3 {
  background-image: url("../styles/res/yellow-spiral.png");
  background-color: #9377e2;
}

a {
  text-decoration: none;
}

.catalog-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 10px 60px;
}

.catalog-item {
  width: 300px;
  border: 1px solid #232323;
  padding-bottom: 10px;
  cursor: pointer;
}

.catalog-item h3 {
  padding-left: 20px;
  margin: 5px 0;
  color: #9377e2;
  text-decoration: none;
}

.catalog-item p {
  padding-left: 20px;
  margin: 5px 0;
  color: #232323;
  text-decoration: none;
}

.catalog-item-img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid #232323;
}

.cart-con {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 3fr;
      grid-template-columns: 7fr 3fr;
  height: 100vh;
}

.cart-items {
  padding: 30px 60px;
  overflow-y: auto;
}

.cart-items h2 {
  margin: 10px 0 35px 0;
}

.cart-summary {
  background-color: #f8f5ff;
  padding: 30px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-summary-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-summary-desc p:nth-child(1) {
  font-weight: bold;
}

.order-summary-desc p {
  margin: 0 2px;
}

.cart-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 2fr 1fr;
      grid-template-columns: 2fr 4fr 2fr 1fr;
  margin: 0 0 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-item-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.cart-amount-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 60px;
}

.cart-amount-con input {
  margin: 0 20px;
}

.cart-amount-con p {
  font-weight: 700;
}

.cart-desc-con {
  padding: 0 30px;
}

.cart-desc-con h3 {
  font-family: "Nunito", sans-serif;
  margin: 5px;
  font-weight: 700;
}

.cart-desc-con p {
  margin: 5px;
  font-weight: 700;
}

.cart-summary-items h3 {
  font-size: 24px;
}

.admin-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.admin-sidebar {
  background-color: #f8f5ff;
  height: 100%;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.admin-sidebar h3 {
  margin: 10px 10px 20px 10px;
}

.admin-sidebar a {
  margin: 10px;
  color: #232323;
}

.admin-sidebar a:hover {
  color: #9377e2;
}

.add-item-view {
  padding: 30px 60px;
  overflow-y: auto;
  width: 75%;
}

.add-item-view form {
  display: -ms-grid;
  display: grid;
}

.add-item-view input {
  margin-bottom: 20px;
  width: 80%;
  padding: 5px 20px;
  font-size: 18px;
}

.add-item-view input:focus {
  outline: 2px solid #9377e2;
}

.add-item-view textarea {
  margin-bottom: 20px;
  width: 80%;
  padding: 5px 20px;
  font-size: 18px;
}

.add-item-view textarea:focus {
  outline: 2px solid #9377e2;
}

.user-list-page{
  width: 90%;
  padding: 0 2% 0 2%;

}
.user-list-heading {
  text-align: center;
}
.usersList {
  padding: 0 20px 0 20px;
  margin-bottom: 10px;
}
.usernames {
  display: flex;
  width: fit-content;
}
.username {
  width: 15em;
  font-weight: bold;
}
.user-email {
  width: 20em;
}
.user-line {
  background-color: black;
  border: 1px solid black;
  width: 80%;
}

/*# sourceMappingURL=style.css.map */